PORT=3000

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=seu_usuario_minio
MINIO_SECRET_KEY=sua_senha_minio
MINIO_BUCKET=arquivos
MINIO_REGION=us-east-1